.container
  padding: 40px
  max-width: 518px
  max-height: 295px
  width: 100%
  border-radius: 8px
  transition: max-height 0.2s ease-out

.containerHeight
  max-height: 500px

.input
  max-height: 0
  transition: max-height .2s ease-out, opacity .2s ease-out
  opacity: 0
  visibility: hidden

.input_shown
  max-height: 100px
  opacity: 1
  visibility: visible

.primary_text
  font-size: 26px
  line-height: 36px
  font-weight: 400

.secondary_text
  text-align: center
  font-size: 15px
  line-height: 20px
  font-weight: 400

.button_block
  display: flex
  padding-top: 24px

.apply
  font-size: 19px
  line-height: 23px
  font-weight: 500

.cancel
  font-size: 14px
  line-height: 16px
  font-weight: 400
