.container
  max-width: 1220px
  width: 100%
  max-height: 882px
  border-radius: 8px
  background-color: #FFFFFF
  box-shadow: 0 1px 9px 0 rgba(0,0,0,0.1)
  display: flex

.children
  width: 100%

.button_block
  display: flex
  margin-top: 20px
  margin-bottom: 35px
  max-height: 116px

  button
    max-width: 201px
    font-weight: 400

  button:first-child
    font-size: 19px
    line-height: 23px

  button:last-child
    font-size: 14px
    line-height: 16px




