.wrapper

.sidebar
  width: 100%
  max-width: 88px
  background-color: $primary_color
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.44)
  z-index: 15
  transition: max-width .1s ease-in-out
  position: relative

.sidebar_shown
  width: 100%
  max-width: 270px

.logo_container
  min-height: 80px
  border-bottom: 1px solid rgba(147, 152, 162, 0.2)
  position: relative

.logo
  overflow: hidden

.logo_large
  width: 124px
  height: 26px
  transition: width 0.1s ease

.logo_small
  width: 31px
  height: 26px
  transition: width 0.1s ease

.image
  width: 124px
  height: 26px

.toggle_button
  width: 24px
  height: 100%
  position: absolute
  top: 5%
  right: 0
  background: none
  border: none
  cursor: pointer

.links
  overflow: hidden
  min-height: 80px
  border-bottom: 1px solid rgba(147, 152, 162, 0.2)
  transition: min-height 0.2s ease
  transform: translateZ(0)

.links_horizontal
  min-height: 80px

.links_vertical
  min-height: 215px

.projects
  flex-grow: 1


