@import '@styles/_animations.sass'

.wrapper
  height: 100vh
  position: relative

.sidebar
  width: 88px
  background-color: $primary_color
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.44)
  z-index: 10
  transition: width 0.4s ease

.sidebar_shown
  width: 270px

.logo_container
  min-height: 80px
  border-bottom: 1px solid rgba(147, 152, 162, 0.2)
  position: relative

.logo
  overflow: hidden

.logo_large
  width: 124px
  height: 26px
  transition: width 0.8s ease

.logo_small
  width: 31px
  height: 26px
  transition: width 0.8s ease

.image
  width: 124px
  height: 26px

.toggle_button
  width: 24px
  height: 100%
  position: absolute
  top: 5%
  right: 0
  background: none
  border: none
  cursor: pointer

.links
  overflow: hidden
  min-height: 80px
  border-bottom: 1px solid rgba(147, 152, 162, 0.2)
  transition: min-height 0.2s ease

.links_horizontal
  min-height: 79px
  +animation(sidebarSlideButtonsShow, 0s, 0.4s)

.links_vertical
  min-height: 215px
  +animation(sidebarSlideButtonsHide, 0, 0.4s)


.projects
  //flex-grow: 1
  //max-height: 100%
  overflow-y: scroll

.children
  width: 100%



