.wrapper
  border-bottom: 1px solid rgba(147, 152, 162, 0.2)
  border-top: 1px solid rgba(147, 152, 162, 0.2)

.container
  padding: 16px

.circle
  width: 40px
  height: 40px
  border-radius: 50%

.team_name
  font-weight: 700
  font-size: 19px
  line-height: 23px
  color: #fff

.headline
  font-weight: 700
  font-size: 16px
  line-height: 19px
  color: #fff

.switch_buttons
  position: absolute
  right: 0
  top: 25%

.button
  &_create
    margin: 0 12px 0 0 !important

  &_toggle
    margin: 0 !important


.info
  transition: height 0.2s ease-in-out
  z-index: 10
  overflow: hidden
  height: 0

//.shown
//  //height: 380px
//
//.hidden
//  height: 0 !important

