.container
  cursor: pointer

.circle_container
  padding: 5px 12px

.circle
  width: 7px
  height: 7px
  border-radius: 50%
  background-color: #9199A9
  transition: all .2s ease

.board
  p
    color: #9199A9
    font-size: 14px
    font-weight: 400
    transition: all .2s ease

.checked

  &_circle
    background-color: #fff

  &_title
    color: #fff !important
