.wrapper
  position: relative
  padding: 40px
  background-color: #fff
  border-radius: 9px
  box-shadow: 0 2px 10px 0rgba(0,0,0,0.11)

.message
  article
    font-weight: 400
    font-size: 26px
    color: $primary_color
    text-align: center

  p
    font-weight: 400
    font-size: 15px
    color: $primary_color
    text-align: center

.close
  position: absolute
  top: 0
  right: 0

  button
    margin: 0
