$className: btn

.#{$className}
  border: none
  margin: 16px 0
  text-align: center
  cursor: pointer
  background: none


//Colors
.#{$className}.green
  background-color: $sea-green
  color: $white

.#{$className}.green:disabled
  background-color: lighten($sea-green, 15%)


//Shapes
.#{$className}.full_width
  width: 100%

.#{$className}.rounded
  border-radius: 35px


//Other
.#{$className}.login-page-button
  font-size: 19px
  line-height: 23px
  font-weight: 500
  +r(lg)
    font-size: 16px
    padding: 10px
