.default_input
  background: none
  border: none
  color: $primary_color
  font-size: 15px
  font-weight: 400
  line-height: 22px
  letter-spacing: normal
  width: 100%
  box-shadow: none
  padding-left: 55px

.default_input::placeholder
  color: $light-gray
  font-size: 15px
  font-weight: 400
  line-height: 18px
  letter-spacing: 0 !important

.form_background
  background-color: $dirty-white

.form_border
  border: 1px solid $light-gray

.form_border_focus
  border: 1px solid rgba(73,85,112,0.6)

.form_link
  text-decoration: underline
  color: $primary_color

.error
  border-color: $scarlet !important

.error-label
  color: $scarlet !important

.formik-error
  font-size: 15px
  line-height: 18px

.checkbox
  appearance: none

.checkbox:hover
  border-color: $secondary_color !important
  color: $primary_color !important

.checkmark_checked
  background: 50% 50% url('/assets/login_page/checkmark.svg') no-repeat !important
  //background-size: 8px 9px

.show-password
  background: 50% 50% url('/assets/login_page/show_password.svg') no-repeat !important

.hide-password
  background: 50% 50% url('/assets/login_page/hide_password.svg') no-repeat !important



