// colors
$primary_color: #495570
$secondary_color: #9398A2
$light-gray: #CACACA
$white: #FFFFFF
$dirty-white: #F8F8F8
$green: #28B446
$sea-green: #53D0BA
$blue: #518EF8
$pale-orange: #FB9082
$red: #F14336
$yellow: #FBBB00
$scarlet: #E76A7D
