$className: login_page

.#{$className}
  min-height: 871px
  height: 100vh
  &__greet_screen
    background-color: $primary_color
    width: 50%

    &_container
      width: 280px
      height: 100%
      margin: 0 auto

  &__form
    width: 50%

  &__logo
    height: 50%

  &__copyright
    height: 50%

    h4
      color: $secondary_color
      font-size: 15px
      line-height: 21px
      font-weight: 400




//.#{$className} {
//  &__header {
//    color: $red;
//    @include r(lg) {
//      color: $blue;
//    }
//  }
//}
