.circle
  width: 40px
  height: 40px
  border-radius: 50%

.align_center
  margin: auto

.team_name
  font-weight: 700
  font-size: 19px
  line-height: 23px
  color: #fff

.headline
  flex-grow: 1
  max-width: 136px

  &_text
    font-weight: 700
    font-size: 16px
    line-height: 19px
    width: 100%
    color: #9199A9
    transition: color 0.2s ease
    overflow: hidden
    text-overflow: ellipsis
    white-space: pre

.white_text
  color: #fff !important

.team_placeholder
  height: 15px
  width: 100%
  background-color: lightgray
  align-self: center
