.wrapper
  padding-top: 14px
  padding-bottom: 14px
  height: 72px

.container
  height: 100%

.logo
  height: 40px
  width: 40px
  border-radius: 50%
  //background-color: lightgray

.tittle_container
  //background-color: lightgray
  width: 70%
  height: 20px

.h_79
  height: 79px

