.login_page
  min-height: 871px
  height: 100vh

.greet_screen
  background-color: $primary_color
  width: 50%

  &_container
    width: 280px
    height: 100%
    margin: 0 auto

.form
  width: 50%

.logo
  height: 50%

.copyright
  height: 50%

  h4
    color: $secondary_color
    font-size: 15px
    line-height: 21px
    font-weight: 400
