$className: login_page

.#{$className}
  height: 100vh
  &__greetScreen
    background-color: #495570
    width: 100%
  &__logo
    margin: 0 auto
    w
  &__form
    width: 804px



//.#{$className} {
//  &__header {
//    color: $red;
//    @include r(lg) {
//      color: $blue;
//    }
//  }
//}
