.wrapper
  min-height: 100vh
  position: relative

.sidebar
  width: 88px
  background-color: $primary_color
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.44)
  z-index: 10
  transition: width 0.8s ease

.sidebar_shown
  width: 270px

.logo_container
  height: 80px
  border-bottom: 1px solid rgba(147, 152, 162, 0.2)
  position: relative

.logo
  overflow: hidden

.logo_large
  width: 124px
  height: 26px
  transition: width 0.8s ease

.logo_small
  width: 31px
  height: 26px
  transition: width 0.8s ease

.image
  width: 124px
  height: 26px

.toggle_button
  width: 24px
  height: 100%
  position: absolute
  top: 5%
  right: 0
  background: none
  border: none
  cursor: pointer

.links
  overflow: hidden
  padding: 18px

.links_horizontal
  width: 237px
  animation: sidebarSlideButtonsShow 0.8s forwards
  transform: translateX(0)

.links_vertical
  width: 88px
  padding: 10px
  flex-direction: column
  animation: sidebarSlideButtonsHide 0.8s forwards
  transform: translateX(0)

  a:first-child
    margin-top: 14px

  a:nth-child(2), a:nth-child(3)
    margin-top: 28px

@keyframes sidebarSlideButtonsHide
  0%
    transform: translateX(-100%)
  70%
    flex-direction: column
  100%
    transform: translateX(0)

@keyframes sidebarSlideButtonsShow
  0%
    transform: translateX(-100%)
  70%
    flex-direction: row
  100%
    transform: translateX(0)

.children
  width: 100%



