.headlines
  display: flex
  border-bottom: 1px solid
  padding-bottom: 13px
  padding-top: 32px

.name
  max-width: 294px

.email
  max-width: 310px

.last_active
  max-width: 231px

.actions
  max-width: 45px

.text
  font-size: 13px
  line-height: 15px
  font-weight: 500

.text_user
  font-size: 15px
  line-height: 22px
  font-weight: 400
