.wrapper
  padding-bottom: 60px

.container
  padding: 26px
  background-color: lighten($success-message, 37%)

.icon_container
  margin-right: 16px

.icon
  width: 28px
  height: 28px

.message
  p
    font-size: 15px
    line-height: 18px
    font-weight: 400
    color: $secondary_color
