.container
  padding-left: 40px
  padding-top: 30px

.avatar_container
  width: 100px
  height: 100px

.avatar
  width: 99%
  height: 99%
  background-color: #82ABFB
  border-radius: 50%

  &_placeholder
    color: #fff
    font-size: 72px
    font-weight: 500


.edit
  display: flex
  justify-content: center

.label
  font-size: 14px
  font-weight: 400
  line-height: 16px

.label:hover, .avatar_delete:hover
  text-decoration: underline

.file_input
  display: none

.avatar_delete
  color: $scarlet
  font-size: 14px
  font-weight: 400
  line-height: 16px
